.card{
    background: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    /* padding: 32px 10px; */
    width: 80%;
    height: 640px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    position: relative;
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
  }
  .div {
    font-size: 12px;
  }
  .table {
    width: 100%;
  }
  .popularLoader {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .right {
    justify-self: right;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
  }
  th {
    text-transform: uppercase;
    color: #99999f;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  td {
    cursor: pointer;
  }
  
  .currentSong {
    position: relative;
  }
  
  .currentSong:hover {
    background-color: #313131;
  }
  
  .currentSongBg {
    background-color: #313131;
    position: relative;
  }
  tr {
    position: relative;
  }
  
  tr > th:nth-child(1) {
    width: 18%;
  }
  tr > th:nth-child(2) {
    width: 14%;
  }
  tr > th:nth-child(3) {
    width: 13%;
  }
  tr > th:nth-child(4) {
    width: 14%;
  }
  tr > th:nth-child(5) {
    width: 13%;
    /* display: flex;
    gap: 10px; */
  }
  tr > th:nth-child(6) {
    width: 5%;
  }
  tr > th:nth-child(7) {
    width: 10%;
  }
  tr > th:nth-child(8) {
    width: 15%;
  }
  tr > th:nth-child(9) {
    width: 10%;
  }
  /* tr > td:nth-child(1) {
    float: right;
    color: #99999f;
  }
  tr > td:nth-child(2) {
    color: #99999f;
  } */
  /* img {
    width: 20px;
    margin-right: 10px;
  } */
  /* tr > td:nth-child(4) {
    color: #99999f;
  } */
  