.grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 3px;
    background-color: #F6F6F6;
    height: 100vh;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.rightTop{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.bigCard{
    display: grid;
    /* justify-content: center; */
    /* place-items: center;
    place-content: center; */
}
.dropdown{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    margin-top: 12px;
}
.dropdown > select{
    color: #8D99AE;
    background-color: #FAFAFA;
    font-size: 12px;
    border: 1px solid #EFEFEF;
    padding: 9px 4px;
    width: 140px;
    border-radius: 4px;
    outline: none;
  }
  .dropdown > select:focus{
      border: 1px solid #EFEFEF;
  }