.navbarDiv{
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.navbarDiv img{
    margin-left: auto;
    order: 2;
    margin-right: 40px;
}
.navbarDiv p{
    margin-left: 25px;
    text-transform: capitalize;
}