.body{
    background-color: #fff;
    height: 100vh;
    position: sticky;
    top: 0;
}
.logo{
    width: 130px;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.sideList{
    display: grid;
    grid-gap: 30px;
    margin-left: 30px;
    cursor: pointer;
}
/* .sideList img:hover{
    fill: pink;
} */
a{
    text-decoration: none;
    color: #A3ABB7;
}
a:hover{
    color: #000000;
}